.PostShare{
    display: flex;
    gap: 1rem;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;

}

.PostShare>img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.PostShare>div{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
}

.PostShare>div>input{
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;

}

.PostOptions{
    display: flex;
    justify-content: space-around;
}

.option{
    padding: 5px;
    padding-inline: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.option:hover{
    cursor: pointer;
}

.ps-button{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
}